.crud-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  justify-content: space-between;
  background-color: #f8f9fa;
}

/* Formulario */
.product-form {
  flex: 1 1 35%;
  min-width: 280px;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.product-form h2 {
  margin-bottom: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-group label {
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-submit {
  width: 100%;
  background-color: pink;
  color: black;
  padding: 0.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-submit:hover {
  background-color: #dc3545;
}

/* Tabla */
.product-table {
  flex: 1 1 60%;
  min-width: 320px;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow-x: auto;
}

.product-table h2 {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: pink;
  color: black;
}

th, td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f3f3f3;
}

.btn-edit, .btn-delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn-edit{
    background-color: #69BAED;
    border-radius: 10px;
    padding: 5px;
}
.btn-delete{
    background-color: #FAA18F;
    border-radius: 10px;
    padding: 5px;
}
.btn-edit:hover {
  color: #182DC8;
}

.btn-delete:hover {
  color: #dc3545;
}

/* Responsive */
@media (max-width: 768px) {
  .crud-container {
    flex-direction: column;
  }

  .product-form,
  .product-table {
    width: 100%;
  }
}
