
.customer-wrapper * {
    all: unset;
    display: revert;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.customer-wrapper {
    margin-top: 10rem;
    width: 100%;
    background: #eac4d5;
    padding: 40px 20px;
}



.customer-wrapper h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}



.filter-box {
    max-width: 500px;
    margin: 0 auto 30px auto;
    text-align: center;
}

.filter-box input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #777;
    border-radius: 8px;
    font-size: 16px;
}



.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 25px;
    padding: 20px;
}


.product-card {
    width: 100%;
    max-width: 300px;
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.product-card img {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 20px;
}

.product-card p {
    font-size: 15px;
    margin: 5px 0;
}



.product-card button {
    margin-top: 10px;
    padding: 10px 18px;
    background: #d57bff;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.product-card button:hover {
    background: #c065e6;
}


@media (max-width: 600px) {
    .filter-box input {
        font-size: 14px;
    }

    .product-card {
        padding: 15px;
    }
}
