* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn-home {
  display: inline-block;
  background-color: #69BAED;
  color: white;
  padding: 10px 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: background 0.3s, transform 0.2s;
  margin-bottom: 1rem;
}

.btn-home:hover {
  background-color: #4aa4d0;
  transform: translateY(-2px);
}


.crud-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  padding-top: 10rem;
  justify-content: space-between;
  background-color: #f8f9fa;
}


/* Tabla */
.product-table {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-start;
}

/* Cada card */
.product-table .card {
  flex: 1 1 calc(33.33% - 1.5rem);
  min-width: 250px;
}
.card-img-top {
  width: 100%;
  height: 180px;          /* tamaño fijo */
  object-fit: contain;    /* NO recorta la imagen */
  background-color: #f0f0f0; /* relleno para que no quede vacío */
  padding: 5px;           /* opcional, para que respire */
  border-radius: 8px;     /* opcional */
}


.product-table h2 {
  width: 100%;
  margin-bottom: 1rem;

}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: pink;
  color: black;
}

th, td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f3f3f3;
}

.card-link-edit, .card-link-delete {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.card-link-edit{
    background-color: #69BAED;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}
.card-link-delete{
    background-color: #FAA18F;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}
.card-link:hover {
  color: #182DC8;
}

.card-link-delete:hover {
  color: #dc3545;
}

/* Responsive */
@media (max-width: 768px) {
  .crud-container {
    flex-direction: column;
  }

  .product-form,
  .product-table {
    width: 100%;
  }
    .product-table {
    flex-direction: column;
  }

  .product-table .card {
    width: 100%;
    flex: none;
  }
}
