  <section class="section-about">
            <div class="content-about" id="about">
                <h2>Acerca de nosotros </h2>
                <p>No somos una tienda especializada en un solo rubro, ni un marketplace impersonal, ni un simple catálogo en línea, pero sí somos un equipo comprometido que piensa en lo que realmente importa: tu experiencia de compra. Creemos que cada cliente es único y que sus necesidades no se pueden atender con soluciones genéricas, por eso diseñamos un servicio flexible, cercano y confiable, que se adapta a ti.</p>
                <p>Nuestro propósito es ofrecer variedad sin perder calidad, acompañamiento sin complicaciones y atención que marque la diferencia. Procuramos que encuentres todo lo que buscas en un solo lugar, cuidando tu tiempo, tu comodidad y tu bolsillo, para que comprar sea siempre fácil, seguro y satisfactorio.</p>


            </div>
            <div class="image-about">
                <iframe class="img-reunion" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1717.9111645665632!2d-74.08607242437206!3d4.7558981786912575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f8451d8e278a9%3A0x6ab421cd3d978990!2zQ2wuIDE1N2EgIyA5OEEtMjYsIFN1YmEsIEJvZ290w6EsIEQuQy4sIEJvZ290w6EsIEJvZ290w6EsIEQuQy4!5e0!3m2!1ses-419!2sco!4v1763937622940!5m2!1ses-419!2sco" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>