
<section class="section-servicios">
    <h2>Nuestros Productos</h2>
    <div class="servicios" id="servicios">
        <div class="card">
            <div class="card-body">
                <img src="./images/Servicio01.png" class="card-img-top" alt="...">
                <hr size="2px" color="back" />
                <h5 class="card-title">Sistema informático</h5>
                <a href="login.html" class="btn btn-access-now" target="_self">Acceder</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="./images/Servicio-02.png" class="card-img-top" alt="...">
                <hr size="2px" color="back" />
                <h5 class="card-title">Clasificación arancelaria</h5>
                <a href="login.html" class="btn btn-access-now" target="_self">Acceder</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <img src="./images/servicio03.png" class="card-img-top" alt="...">
                <hr size="2px" color="back" />
                <h5 class="card-title">Consultoria</h5>
                <a href="login.html" class="btn btn-access-now" target="_self">Acceder</a>
            </div>
        </div>
    </div>
</section>