

<section class="section-servicios">
    <h2>Nuestros Productos</h2>
    <div class="servicios" id="servicios">
    {% for product in products %}
        <div class="card">
            <div class="card-body">
                <img src="{{product.img}}" class="card-img-top" alt="{{product.name}}">
                <hr size="2px" color="back" />
                <h5 class="card-title">{{product.name}}</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{product.description}}</li>
                    <li class="list-group-item">Precio ${{product.price}}</li>
                </ul>

                <form action="/cart/add/{{ product.id }}" method="post">

                    <input type="number" name="quantity" value="1">
                    <button type="submit">Agregar</button>

                </form>

            </div>
        </div>

    {% endfor %}
    </div>
</section>