
        <div class="contenedor">
            <div class="container__contact">
                <p class="contact__contact-text">
                    Contacto
                </p>
                <div class="container__info">
                    <p>
                        MARY
                    </p>
                    <p>
                        Av. cra 86 # 55A - 75 Ofi. 106  <br>
                        Bogotá, CO 110110
                    </p>
                </div>
            </div>

            <div class="container__telemail">
                <p>
                    Tel 310-882-33-98
                </p>
                <p>
                    Email info@mary.com
                </p>
                <p>
                    Lo mejores productos al mejor precio
                </p>
                <div class="container__RedesSociales">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>

            </div>

            <div class="container__formualario">
                <form action="">
                    <div class="container__input">
                        <label for="name">Nombre</label>
                        <input type="text" id="name">
                    </div>
                    <div class="container__input">
                        <label for="phone">Telefono</label>
                        <input type="text" id="phone">
                    </div>

                    <div class="container__input">
                        <label for="email">E-mail</label>
                        <input class="container__input" type="text" id="email">
                    </div>
                    <div class="container__input">

                        <input class="container__button" type="submit">
                    </div>

                </form>

            </div>

        </div>


