{% extends 'base.html' %}
{%block css%} <link href="{{ url_for('static', path='/login.css') }}" rel="stylesheet">  {% endblock %}

{%block content%}
    <div class="login-container">
        <h2>Iniciar Sesión</h2>

        <form action="/users/login" enctype="multipart/form-data" method="POST">
            <div class="form-group">
                <label>Correo electrónico</label>
                <input type="email" name="email" placeholder="tucorreo@ejemplo.com" required>
            </div>

            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" name="password" placeholder="********" required>
            </div>

            <button type="submit">Entrar</button>


        </form>
    </div>
{% endblock %}